/bert_data/
/bert_data_survey/
/bert_data_survey_test/
/bert_data_survey_tmp/
/json_data/
/json_data_survey/
/logs/
/merged_stories_tokenized/
/merged_stories_tokenized_survey/
/models/
/raw_data/
/raw_stories/
/raw_stories_survey/
/raw_stories_survey_train/
/raw_stories_survey_val/
/raw_stories_survey_test/
/stanford-corenlp-full-2017-06-09/
/temp/
/urls/
/json_data_survey*
/stanford-corenlp-full-2017-06-09.zip
/torch*
